<div class="container pt-5" style="margin-top: 15%;">
  <h2 class="text-center">Crie um <span class="rounded pb-2 pt-0 px-2 bg-primary"
      style="color: whitesmoke;">grupo</span> e segregue suas notas</h2>
  <form (ngSubmit)="onSubmit()">
    <input type="hidden" ngDefaultControl [(ngModel)]="grupoNotas.id" name="id" id="id">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input [(ngModel)]="grupoNotas.nome" type="text" name="nome" id="nome" class="form-control"
        placeholder="Nomezinho massa aqui...">
    </div>
    <div class="mx-auto text-center">
    <button *ngIf="grupoNotas.id === 0 ;else botaoAlterar" class="btn btn-success py-1" type="submit">Cadastrar</button>
      <ng-template #botaoAlterar>
        <button class="btn btn-success py-1" type="submit">Alterar</button>
      </ng-template>
  </div>
  </form>
</div>
