
<nav class="navbar navbar-dark bg-primary fixed-left navbar-expand-lg  ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand pl-0" routerLink="/"><img class="ml-0 px-0 py-0 my-0" style="width: 60px;" src="../../../assets/img/pencil-logo.png" />HashNotes</a>

  <div class="collapse  navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav  flex-column mr-auto mt-2">
      <li class="nav-item">
        <a class="nav-link" routerLink="/usuario" routerLinkActive="active">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/grupo-de-notas" routerLinkActive="active">Grupo de Notas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active">Notas</a>
      </li>
    </ul>
  </div>
</nav>
